<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>

    <div *ngIf="show">
        <br>
        <courses></courses>
        <br>
        <authors></authors>
        <br>
        <favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChange($event)"></favorite>
        <br>
        <like [likes]="post.votes" [isLiked]="post.isFavorite"></like>
        <br>
        <vote [totalVotes]="post.votes" [myVote]="post.vote" (change)="onVoteChange($event)"></vote>
        <br>
        <div *ngFor="let tweet of tweets">
            <tweet [id]="tweet.id"
                   [name]="tweet.name"
                   [handle]="tweet.handle"
                   [description]="tweet.description"
                   [likes]="tweet.likes"
                   [liked]="tweet.liked"></tweet>
        </div>
        <br>
        <zippy [title]="'My title'">
            This is my body
        </zippy>

        <zippy [title]="'Second accordion view'">
            This is another body
        </zippy>

        <subscription-form></subscription-form>

        <signup-form></signup-form>


        <br>
        <br>
        <password-reset></password-reset>

    </div>

</div>
