<h1>Password Reset Component</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input id="oldPassword"
               type="text" 
               class="form-control" 
               formControlName="oldPassword">

        <div *ngIf="form.controls.oldPassword.touched && form.controls.oldPassword.errors">
            <div 
                *ngIf="form.controls.oldPassword.errors.required"
                class="alert alert-danger">Old password is required 
            </div>

            <div 
                 *ngIf="form.controls.oldPassword.errors.passwordIncorrect" 
                 class="alert alert-danger">
                Password does not match current password
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input minlength="5" type="password" class="form-control" formControlName="newPassword">

        <div *ngIf="form.controls.newPassword.touched && form.controls.newPassword.errors">
            <div 
                *ngIf="form.controls.newPassword.errors.required"
                class="alert alert-danger">New password is required
            </div>

            <div *ngIf="form.controls.newPassword.errors.minlength"
                 class="alert alert-danger">
                New password must be a minimum of {{ form.controls.newPassword.errors.minlength.requiredLength }},
                you've entered {{form.controls.newPassword.errors.minlength.actualLength}}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <input type="password" class="form-control" formControlName="confirmNewPassword">

        <div *ngIf="form.controls.confirmNewPassword.touched && form.controls.confirmNewPassword.errors">
            <div 
                *ngIf="form.controls.confirmNewPassword.errors.required"
                class="alert alert-danger">You must confirm new password
            </div>
        </div>

        <div *ngIf="form.controls.confirmNewPassword.touched && form.errors && form.errors.passwordsDoNotMatch"
             class="alert alert-danger">
            Your confirmed password must match the new password
        </div>
    </div>
    
    <button class="btn btn-primary" 
            type="submit" 
            [disabled]="!form.valid">Change Password</button>
</form>