﻿<h1>Posts</h1>

<div *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x">Loading...</i>
</div>

<div *ngIf="posts">
    <div *ngFor="let post of posts" class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{post.title}}</h3>
            </div>
            <div class="panel-body">
                {{post.body}}
            </div>
        </div>
    </div>
</div>
