<form [formGroup]="form" (ngSubmit)="signUp()">
    <div class="form-group">
        <label for="username">Username</label>
        <input 
            (change)="log(form.controls.username)"
            id="username" 
            type="text" 
            class="form-control" 
            formControlName="username">
        
        <div *ngIf="form.controls.username.pending">Checking for username uniqueness...</div>

        <div *ngIf="form.controls.username.touched && form.controls.username.errors">
            <div 
                *ngIf="form.controls.username.errors.invalidLogin"
                class="alert alert-danger">Username or password is invalid!</div>
            <div 
                *ngIf="form.controls.username.errors.required" 
                class="alert alert-danger">
                Username is required
            </div>
            <div 
                *ngIf="form.controls.username.errors.cannotContainSpace" 
                class="alert alert-danger">
                Username cannot contain space
            </div>
            <div 
                *ngIf="!form.controls.username.errors.isUniqueUsername"
                class="alert alert-danger">
                Username is taken
            </div>
        </div>
        
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="text" class="form-control" formControlName="password">
        <div *ngIf="form.controls.errors">
            <div 
            *ngIf="form.controls.password.errors.required && form.controls.password.touched" 
            class="alert alert-danger">
            Password is required
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>