<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name</label>
        <input ngModel required minlength="3" name="name" #name="ngModel" id="name" type="text" class="form-control">

        <div *ngIf="name.touched && name.errors">
            <div class="alert alert-danger" *ngIf="name.errors.required">
                Name is required
            </div>
            <div class="alert alert-danger" *ngIf="name.errors.minlength">
                Name must have min length of {{ name.errors.minlength.requiredLength }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input ngModel required #email="ngModel" name="email" id="email" class="form-control">
        <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
            Email is required
        </div>
    </div>

    <div class="form-group">
        <label for="frequency">Email Frequency</label>
        <select 
            ngModel
            #frequency="ngModel"
            name="frequency"
            id="frequency"
            class="form-control">
                <option value=""></option>
                <option *ngFor="let frequency of frequencies" value="{{ frequency.id }}">
                {{ frequency.label }}
            </option>
        </select> 
        <div 
            class="alert alert-danger" 
            *ngIf="frequency.touched && !frequency.valid">
            This field is required.
        </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>